<div class="section">
  <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4 offset-s2"><a href="#register">Registrarse</a></li>
          <li class="tab col s4"><a class="active" href="#ingresar">Ingresar</a></li>
        </ul>
      </div>
      <div id="register" class="col s8 offset-s2"><app-register></app-register></div>
      <div id="ingresar" class="col s8 offset-s2"><app-login></app-login></div>
  </div>
</div>

<input type="submit" value="getUser" (click)="getUserData()">