<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="inicio">Inicio</a></li>
        <li><a routerLink="productos">Productos</a></li>
        <li><a routerLink="contacto">Contacto</a></li>
        <li><a routerLink="cuenta">Cuenta</a></li>
      </ul>
    </div>
  </nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="inicio">Inicio</a></li>
    <li><a routerLink="productos">Productos</a></li>
    <li><a routerLink="contacto">Contacto</a></li>
    <li><a routerLink="cuenta">Cuenta</a></li>
</ul>
